*{
    margin: 0 auto;
    padding: 0;
}body{
    background: url(../img/fondo.jpg);
    background-size: 100%;
}
main{
   margin-top: 30%;
   display: inline-flex;
}
h1{
    background: rgba(255, 255, 255, 0.473);
    width: 350px;
    height: 180px;
    text-align: center;
    align-items: center;
}
.content-cuadro{
    display: flex;
    flex-direction: row;
}
.cuadro{
    background: rgba(94, 117, 250, 0);
    width: 120px;
    color:white;
    height: 180px;
    overflow: hidden;
}
.cuadro h2{
    height: 180px;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 1;
}
.cuadro img{

    width: 120%;
    z-index: 0;
}
